@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .tag-item {
        @apply bg-bluish p-2 text-sm font-semibold text-grey-bg rounded-3xl cursor-default transition-transform hover:scale-105
    }
}



body {
    background-color: #EFECEC;
    font-family: "Nunito", sans-serif;
    scroll-behavior: smooth;
}

.h-navbar {
    height: calc(100vh - 50px);
    top: 50px;
    left: -100%;
    transition: .5s ease-out;
}

.navbar-active {
    left: 0;
}

.nav-link {
    position: relative;
    z-index: 5;

}

.nav-item {
    position: relative;
    cursor: pointer;
}



.navbar__toggle-menu .nav-item::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #7777775b;
    width: 0%;
    height: 100%;
    transition: width 250ms ease-in-out;
}

.navbar__toggle-menu .nav-item:hover::after {
    width: 100%;
}

.navbar__auth-buttons button:active {
    transform: scale(90%);
}

.navbar__toggle-button rect {
    transition: .3s;
}

@media(min-width:640px) {
    .hero__icon svg {
        width: 80px;
        height: 80px;
    }

    .hero__icon img {
        width: 80px;
        height: 80px;
    }
}



#hero {
    background-color: #99a2ff;
    background-image:
        radial-gradient(at 72% 75%, hsla(84, 68%, 76%, 1) 0px, transparent 50%),
        radial-gradient(at 29% 61%, hsla(333, 91%, 72%, 1) 0px, transparent 50%),
        radial-gradient(at 84% 95%, hsla(36, 71%, 70%, 1) 0px, transparent 50%)
}

.icon span {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}

.accordion__header svg {
    transform: rotate(180deg);
    transition: .3s;
}

.active-accordion {
    transform: rotate(0deg) !important;
}

.accordion__item {
    transition: .3s;
}

#discover {
    background-image: url('./assets/ofice.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.search-bar__close {
    width: 25px;
}

.search-bar {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: .3s;
}


.company-card img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    border-radius: 20px;
}


.search-bar__wrapper {
    transition: .3s;
    width: 49px;
    overflow: hidden;
}


@media(min-width:768px) {
    .search-bar__wrapper {
        width: 57px;
    }
}

.loader {
    width: 32px;
    height: 32px;
    position: relative;
    border-radius: 50%;
    color: #FF3D00;
    animation: fill 1s ease-in infinite alternate;
}

.loader::before,
.loader::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    left: 48px;
    top: 0;
    animation: fill 0.9s ease-in infinite alternate;
}

.loader::after {
    left: auto;
    right: 48px;
    animation-duration: 1.1s;
}

@keyframes fill {
    0% {
        box-shadow: 0 0 0 2px inset
    }

    100% {
        box-shadow: 0 0 0 10px inset
    }
}

.bannerCard__wrapper {
    background-color: #99c3ff;
    background-image:
        radial-gradient(at 3% 51%, hsla(165, 70%, 76%, 1) 0px, transparent 50%),
        radial-gradient(at 66% 91%, hsla(54, 95%, 62%, 1) 0px, transparent 50%),
        radial-gradient(at 9% 19%, hsla(19, 93%, 72%, 1) 0px, transparent 50%);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.login {
    background-color: #9e99ff;
    background-image:
        radial-gradient(at 37% 79%, hsla(118, 69%, 61%, 1) 0px, transparent 50%),
        radial-gradient(at 94% 12%, hsla(234, 74%, 63%, 1) 0px, transparent 50%),
        radial-gradient(at 99% 26%, hsla(346, 83%, 68%, 1) 0px, transparent 50%)
}


.login__button {
    position: relative;
    overflow: hidden;
}

.login__button:hover::before {
    content: '';
    position: absolute;
    left: -100%;
    top: 0;
    width: 200%;
    height: 100%;
    background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.5), transparent);
    animation: shining 2s infinite;
}

@keyframes shining {
    0% {
        left: -100%;
    }

    50% {
        left: 100%;
    }

    100% {
        left: -100%;
    }
}